.challenge-explanation-kth-page {
  .program-title {
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
  }
  .img-program-kth {
    display: block;
    margin: auto;
    width: 50%;
  }
  .fc .fc-toolbar-title {
    text-transform: capitalize;
  }
}