body .row.page-left-right.page-values {
    img.brand-illustration {
        width: 70%;
    }
    h1:not(.main-page-title) {
        margin-bottom: 16px;
    }
    .small-paragraph-title {
        @media ($min-lg-px) {
            margin-bottom: 32px;
        }
    }
    .values-container {
        @media ($max-lg-px) {
            border: solid 1px grey;
            border-radius: 8px;
            padding: 32px;
            margin-top: 16px;
        }
        &:not(.last-value-container) {
            @media ($max-lg-px) {
                margin-bottom: 16px;
            }
        }
        &, & h1 {
            @media ($max-lg-px) {
                text-align: center;
                &.values-title {
                    color: #A46ED3;
                }
            }
        }
    }
}